<head>
    <title>Выбор действия</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <form action="/main" method="post">
        <select name="new_user">
            <option value=0 selected>Авторизация</option>
            <option value=1>Регистрация</option>
        </select> <br><br>
        <label>Имя пользователя</label>
        <input name="user" class="field"/><br><br>
        <label>Пароль</label>
        <input name="pswd" input type="password" class="field"/><br><br>
        <input type="submit" value="Продолжить" />
    </form>
</body>