<head>
    <title>Скачать файлы, соответствующие запуску</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <a href=<%= file_href %> download> Скачать файлы </a>
</body>